# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars
crash.log

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# Docker
local/kafka_data/
